/* .grain-container {
	background-color: rgb(176, 0, 0);
	background-image: radial-gradient(at 37% 28%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(at 32% 7%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(at 80% 7%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(at 70% 7%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(at 99% 3%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(closest-corner at 70% 63%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(closest-corner at 64% 80%, rgb(0, 0, 0) 0px, transparent 50%);
	height: 100vh;
	width: 100vw;
	overflow: hidden;
} */

#title {
	/* font-size: var(--fs-xl); */
	position: relative;
	width: max-content;
}

#title::before,
#title::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#title::before {
	background: black;
	height: 1.4em;
	animation: typewriter 4s steps(25) 1s forwards;
}

#title::after {
	width: 1em;
	height: 1.3em;
	background-color: white;
	animation: typewriter 4s steps(25) 1s forwards, blink 750ms steps(25) infinite;
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}
