body {
	overflow-x: hidden;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

/* primary header */

.logo {
	margin: 2rem;
	content: url('./PL.png');
	height: 3rem;
}

.primary-header {
	align-items: center;
	justify-content: space-between;

	position: fixed;
	top: 0;
	right: 0;
	width: 100%;

	transition-timing-function: ease-in;
	transition: 0.5s;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0;
	margin: 0;

	background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(2rem)) {
	.primary-navigation {
		background: hsl(0 0% 100% / 0.1);
		backdrop-filter: blur(2rem);
	}
}

.primary-navigation a {
	text-decoration: none;
	color: red;
}

.primary-navigation a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.685);
}

.primary-navigation a > [aria-hidden="true"] {
	font-weight: 700;
	margin-inline-end: .75em;
}

@media (max-width: 35em) {
	.primary-navigation {
		--gap: 2em;

		position: fixed;
		z-index: 1000;
		inset: 0 0 0 30%;

		flex-direction: column;
		padding: min(30vh, 10rem) 2rem;

		transform: translateX(100%);
		transition: transform 350ms ease-out;
	}

	.primary-navigation[data-visible="true"] {
		transform: translateX(0%);
	}

	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background-color: transparent;
		background: url(./icon-hamburger.svg);
		filter: invert(93%) sepia(100%) saturate(33%) hue-rotate(199deg) brightness(106%) contrast(99%);
		background-repeat: no-repeat;
		border: 0;
		width: 3rem;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}

	.mobile-nav-toggle[aria-expanded="true"] {
		background-image: url(./icon-hamburger-close.svg);
		filter: invert(93%) sepia(100%) saturate(33%) hue-rotate(199deg) brightness(106%) contrast(99%);
	}
}

@media (min-width: 35em) and (max-width: 55em) {
	.primary-navigation a > span[aria-hidden] {
		display: none;
	}
}

@media (min-width: 35em) {
	.primary-navigation {
		--gap: clamp(1.5rem, 5vw, 3rem);
		padding-block: 2rem;
		padding-inline: clamp(3rem, 8vw, 10rem);
	}
}

/* .menuopen {
	background: url(./icon-hamburger.svg) no-repeat center;
	filter: invert(93%) sepia(100%) saturate(33%) hue-rotate(199deg) brightness(106%) contrast(99%);
}

.menuclose {
	background-image: url(./icon-hamburger-close.svg) no-repeat center;
	filter: invert(93%) sepia(100%) saturate(33%) hue-rotate(199deg) brightness(106%) contrast(99%);
} */
