/* .two div {
	margin-left: 3%;
	margin-right: 3%;
} */

/* #tech ul {
	margin: 0.75em 0;
	padding: 0 1em;
	list-style: none;
} */
#tech li::before {
	content: "";
	border-color: transparent red;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	/* height: 0;
	width: 0;
	left: -1em;
	top: 0.9em; */
	/* position: relative; */
}
